.fa-solid.fa-users{
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
}
.fa-solid.fa-users{
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
}
.fa-solid.fa-briefcase{
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
}
.fa-solid.fa-magnifying-glass{
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
}
.fa-solid.fa-chart-simple{
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
}
.fa-solid.fa-business-time{
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
}
.fa-solid.fa-handshake{
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
}